In [1]:
import tushare as ts

ts.set_token('1411e2689291aa71e3d1105f4203b9103c8060e02ac5ff6d1e6e2485')

In [2]:
pro = ts.pro_api()

In [3]:
df = pro.trade_cal(exchange='', start_date='20180901', end_date='20181001', fields='exchange,cal_date,is_open,pretrade_date', is_open='0')

In [7]:
stock_list = pro.stock_basic(market="主板")

In [11]:
stock_list["symbol"].values

array(['000001', '000002', '000004', ..., '605589', '605598', '605599'],
      dtype=object)

In [12]:
stock_list

        ts_code  symbol  name area industry market list_date
0     000001.SZ  000001  平安银行   深圳       银行     主板  19910403
1     000002.SZ  000002   万科A   深圳     全国地产     主板  19910129
2     000004.SZ  000004  ST国华   深圳     软件服务     主板  19910114
3     000005.SZ  000005  ST星源   深圳     环境保护     主板  19901210
4     000006.SZ  000006  深振业A   深圳     区域地产     主板  19920427
...         ...     ...   ...  ...      ...    ...       ...
2144  605580.SH  605580  恒盛能源   浙江     供气供热     主板  20210819
2145  605588.SH  605588  冠石科技   江苏      半导体     主板  20210812
2146  605589.SH  605589  圣泉集团   山东     化工原料     主板  20210810
2147  605598.SH  605598  上海港湾   上海     建筑工程     主板  20210917
2148  605599.SH  605599  菜百股份   北京       黄金     主板  20210909

[2149 rows x 7 columns]

In [16]:
df = pro.daily(ts_code='601601.SH', start_date='20220601', end_date='20220616')
df

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,601601.SH,20220616,23.37,23.39,22.56,22.56,23.40,-0.84,-3.5897,526845.59,1200901.665
1,601601.SH,20220615,21.72,23.85,21.72,23.40,21.81,1.59,7.2902,1069173.60,2476215.023
2,601601.SH,20220614,21.09,21.85,20.97,21.81,21.29,0.52,2.4425,331891.76,707689.816
3,601601.SH,20220613,21.57,21.65,21.18,21.29,21.84,-0.55,-2.5183,266530.59,569101.868
4,601601.SH,20220610,21.41,21.88,21.20,21.84,21.56,0.28,1.2987,341554.51,737225.660
5,601601.SH,20220609,21.54,21.83,21.40,21.56,21.56,0.00,0.0000,237319.49,512531.262
6,601601.SH,20220608,21.44,21.64,21.26,21.56,21.43,0.13,0.6066,206565.22,442423.184
7,601601.SH,20220607,21.15,21.50,21.09,21.43,21.24,0.19,0.8945,245471.44,523350.954
8,601601.SH,20220606,21.07,21.26,20.76,21.24,21.07,0.17,0.8068,229497.40,482438.734
9,601601.SH,20220602,21.03,21.20,20.95,21.07,21.13,-0.06,-0.2840,134947.01,283664.177
10,601601.SH,20220601,21.21,21.30,21.00,21.13,21.25,-0.12,-0.5647,154058.90,325427.687